
body{

    background-color:hwb(0 95% 4%);
}

main{
display: flex;
height: 500px;
justify-content: center;
align-items: center;
margin: 300px;
background-color: #ffffff;

}
aside{
    width: 200px;
    height: 200px;
    background-color: #f30303;
    border-radius: 100%;


}